@media (orientation: landscape) and (min-width: 768px) {
    .d-container {
        border-top: 2px solid #BBB;
        margin: 12px 24px;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
    }

    .d-container-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-top: 2px solid #DDD;
        border-bottom: 2px solid #DDD;
        height: 300px;
    }

    .d-left-container {
        border-right: 2px solid #DDD;
        /* border: 1px solid black; */
    }

    .d-right-container {
        overflow-y: scroll;
        /* Hide scrollbar for all browsers */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .d-right-container::-webkit-scrollbar { 
        display: none; /* WebKit browsers */
    }

    .d-taskid-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
        /* border: 1px solid black; */
        padding: 8px 8px;
    }

    .d-item-container {
        border: 2px solid #EEE;
        display: flex;
        flex-direction: column;
        padding: 8px 24px;
        margin: 24px;
        border-radius: 10px;
    }

    .d-up-del-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 24px;
        margin: 12px 12px 0 0;
        border: 1px solid black;
    }

    .d-update-btn, .d-delete-btn {
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 50px;
        background: transparent;
        font-family: "Epilogue", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    .d-update-btn {
        border: 2px solid #56CDAD;
        color: #56CDAD;
    }

    .d-delete-btn {
        border-color: #F50100;
        color: #F50100;
    }

    .d-change-input {
        border: 1px solid #BBB;
        margin: 8px 0px;
        padding: 4px 12px;
        font-size: 16px;
        width: fit-content;
    }
}